<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <!--TITLE-->
    <title></title>

    <!--META-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--LINK-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../style/index/index.css" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <main class="hero">
      <div class="hero__content container grid">
        <div class="hero__logo-area flex">
          <img src="../../public/images/logo.svg" alt="brand logo" />
        </div>
        <div class="hero__text-area">
          <h1 class="primary-title">A history of everything you copy</h1>
          <p class="primary-paragraph">Clipboard allows you to track and organize everything you copy. Instantly access your clipboard on all your devices.</p>
        </div>
        <div class="hero__btn-area flex">
          <a href="#" class="btn btn-primary-green">Download for iOS</a>
          <a href="#" class="btn btn-primary-blue">Download for Mac</a>
        </div>
      </div>
    </main>

    <section class="features">
      <div class="features__content container grid">
        <div class="features__text-area">
          <h2 class="secondary-title">Keep track of your snippets</h2>
          <p class="primary-paragraph">Clipboard instantly stores any item you copy in the cloud, meaning you can access your snippets immediately on all your devices. Our Mac and iOS apps will help you organize everything.</p>
        </div>
        <div class="features__img-area">
          <img src="../../public/images/image-computer.png" alt="computer image" />
        </div>
        <ul class="features__features-list">
          <li class="feature">
            <h3 class="tertiary-title">Quick Search</h3>
            <p class="secondary-paragraph">Easily search your snippets by content, category, web address, application, and more.</p>
          </li>
          <li class="feature">
            <h3 class="tertiary-title">iCloud Sync</h3>
            <p class="secondary-paragraph">Instantly saves and syncs snippets across all your devices.</p>
          </li>
          <li class="feature">
            <h3 class="tertiary-title">Complete History</h3>
            <p class="secondary-paragraph">Retrieve any snippets from the first moment you started using the app.</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="clipboard">
      <div class="clipboard__content container grid">
        <div class="clipboard__text-area">
          <h2 class="secondary-title">Access Clipboard Anywhere</h2>
          <p class="primary-paragraph">Whether you’re on the go, or at your computer, you can access all your Clipboard snippets in a few simple clicks.</p>
        </div>
        <div class="clipboard__img-area">
          <img src="../../public/images/image-devices.png" alt="devices illustration" />
        </div>
      </div>
    </section>

    <section class="other-features">
      <div class="other-features__content container grid">
        <div class="other-features__text-area">
          <h2 class="secondary-title">Supercharge your workflow</h2>
          <p class="primary-paragraph">We’ve got the tools to boost your productivity.</p>
        </div>
        <ul class="other-features__features-list flex">
          <li class="feature">
            <img src="../../public/images/icon-blacklist.svg" alt="blacklist icon" />
            <h3 class="tertiary-title">Create blacklists</h3>
            <p class="secondary-paragraph">Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p>
          </li>
          <li class="feature">
            <img src="../../public/images/icon-text.svg" alt="blacklist icon" />
            <h3 class="tertiary-title">Plain text snippets</h3>
            <p class="secondary-paragraph">Remove unwanted formatting from copied text for a consistent look.</p>
          </li>
          <li class="feature">
            <img src="../../public/images/icon-preview.svg" alt="blacklist icon" />
            <h3 class="tertiary-title">Sneak preview</h3>
            <p class="secondary-paragraph">Quick preview of all snippets on your Clipboard for easy access.</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="sponsors">
      <div class="sponsors__content container">
        <div class="sponsors__companies grid">
          <img src="../../public/images/logo-google.png" alt="google logo" />
          <img src="../../public/images/logo-ibm.png" alt="ibm logo" />
          <img src="../../public/images/logo-microsoft.png" alt="microsoft logo" />
          <img src="../../public/images/logo-hp.png" alt="hp logo" />
          <img src="../../public/images/logo-vector-graphics.png" alt="vector graphics logo" />
        </div>
      </div>
    </section>

    <section class="download">
      <div class="download__content container grid">
        <div class="download__text-area">
          <h1 class="secondary-title">Clipboard for iOS and Mac OS</h1>
          <p class="primary-paragraph">Available for free on the App Store. Download for Mac or iOS, sync with iCloud and you’re ready to start adding to your clipboard.</p>
        </div>
        <div class="download__btn-area flex">
          <a href="#" class="btn btn-primary-green">Download for iOS</a>
          <a href="#" class="btn btn-primary-blue">Download for Mac</a>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer__content container flex">
        <div class="footer__logo">
          <img src="../../public/images/logo.svg" alt="brand logo" />
        </div>
        <div class="footer__links flex">
          <div class="group group1 flex">
            <a href="#">FAQs</a>
            <a href="#">Contact Us</a>
          </div>
          <div class="group group2 flex">
            <a href="#">Privacy Policy</a>
            <a href="#">Press Kit</a>
          </div>
          <div class="group group3 flex">
            <a href="#">Install Guide</a>
          </div>
        </div>
        <div class="footer__icons flex">
          <img src="../../public/images/icon-facebook.svg" alt="facebook icon" />
          <img src="../../public/images/icon-twitter.svg" alt="twitter icon" />
          <img src="../../public/images/icon-instagram.svg" alt="instagram icon" />
        </div>
      </div>
    </footer>

    <script src="../script/app.js" async defer></script>
  </body>
</html>
