*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Bai Jamjuree', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.container {
  padding: 0 calc((100vw - 1250px) / 2);
  margin: 0 1.75rem;
}

.btn-primary-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 3.4375rem;
  padding: 0.625rem;
  text-decoration: none;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(94%, #26baa4), color-stop(7%, #219d89));
  background: linear-gradient(to bottom, #26baa4 94%, #219d89 7%);
  border-radius: 50px;
  font-size: 1.125rem;
  font-weight: 500;
  -webkit-transition: opacity 0.2s ease, font-size 0.2s ease;
  transition: opacity 0.2s ease, font-size 0.2s ease;
}

.btn-primary-green:hover {
  opacity: 0.75;
}

@media screen and (min-width: 730px) {
  .btn-primary-green {
    font-size: 1.1875rem;
  }
}

.btn-primary-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 3.4375rem;
  padding: 0.625rem;
  text-decoration: none;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(94%, #6173ff), color-stop(7%, #5163d7));
  background: linear-gradient(to bottom, #6173ff 94%, #5163d7 7%);
  border-radius: 50px;
  font-size: 1.125rem;
  font-weight: 500;
  -webkit-transition: opacity 0.2s ease, font-size 0.2s ease;
  transition: opacity 0.2s ease, font-size 0.2s ease;
}

.btn-primary-blue:hover {
  opacity: 0.75;
}

@media screen and (min-width: 730px) {
  .btn-primary-blue {
    font-size: 1.1875rem;
  }
}

.footer {
  background: #f5f6f8;
}

.footer__content {
  padding: 3.125rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1000px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__logo {
  margin-bottom: 3.125rem;
}

@media screen and (min-width: 1000px) {
  .footer__logo {
    margin: 0 40px 0;
  }
}

.footer__logo img {
  width: 3.125rem;
}

@media screen and (min-width: 1000px) {
  .footer__logo img {
    width: 3.4375rem;
  }
}

.footer__links {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}

.footer__links .group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .footer__links .group {
    margin: 0 1.875rem;
  }
}

.footer__links .group a {
  color: #4c545d;
  opacity: 0.9;
  text-decoration: none;
  font-weight: 600;
  font-size: clamp(1.125rem, 5vw, 1.375rem);
  margin-bottom: 2.3125rem;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer__links .group a:hover {
  color: #26baa4;
}

@media screen and (min-width: 1000px) {
  .footer__links .group a {
    margin: 0;
    font-weight: 400;
    font-size: clamp(1rem, 1.4vw, 1.125rem);
  }
}

@media screen and (min-width: 1000px) {
  .footer__links .group a + a {
    margin-top: 1.25rem;
  }
}

.footer__icons {
  margin-top: 1.25rem;
}

@media screen and (min-width: 1000px) {
  .footer__icons {
    margin: 0 0 0 auto;
  }
}

.footer__icons img {
  cursor: pointer;
  margin: 0 0.9375rem;
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
}

.footer__icons img:hover {
  -webkit-filter: invert(62%) sepia(24%) saturate(1112%) hue-rotate(122deg) brightness(93%) contrast(95%);
          filter: invert(62%) sepia(24%) saturate(1112%) hue-rotate(122deg) brightness(93%) contrast(95%);
}

.primary-title {
  font-size: 2.125rem;
  color: #4c545d;
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}

@media screen and (min-width: 730px) {
  .primary-title {
    font-size: clamp(2.375rem, 5vw, 2.8125rem);
  }
}

.secondary-title {
  font-size: 1.6875rem;
  color: #4c545d;
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}

@media screen and (min-width: 730px) {
  .secondary-title {
    font-size: clamp(2.0625rem, 5vw, 2.375rem);
  }
}

.tertiary-title {
  font-size: 1.375rem;
  color: #4c545d;
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}

@media screen and (min-width: 730px) {
  .tertiary-title {
    font-size: 1.6875rem;
  }
}

.primary-paragraph {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #9fabb2;
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
  margin: auto;
}

@media screen and (min-width: 730px) {
  .primary-paragraph {
    font-size: clamp(1.1875rem, 5vw, 1.375rem);
    max-width: 45ch;
  }
}

.secondary-paragraph {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #9fabb2;
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
  margin: auto;
}

@media screen and (min-width: 730px) {
  .secondary-paragraph {
    max-width: 45ch;
  }
}

.hero {
  background: url("../../../public/images/bg-header-mobile.png") no-repeat center top;
  background-size: 100%;
}

@media screen and (min-width: 730px) {
  .hero {
    background: url("../../../public/images/bg-header-desktop.png") no-repeat center top;
    background-size: 100%;
  }
}

.hero__content {
  padding-bottom: 100px;
  padding-top: 100px;
  min-height: 88vh;
  place-content: center;
}

.hero__logo-area {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4.375rem;
}

.hero__text-area {
  text-align: center;
  margin-bottom: 3.125rem;
}

.hero__text-area h1 {
  margin-bottom: 1.75rem;
}

.hero__btn-area {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 730px) {
  .hero__btn-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero__btn-area .btn {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

@media screen and (min-width: 730px) {
  .hero__btn-area .btn {
    width: 30%;
    margin: 0;
  }
  .hero__btn-area .btn:first-child {
    margin-right: 1.25rem;
  }
}

.hero__btn-area .btn + .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 730px) {
  .hero__btn-area .btn + .btn {
    margin: 0;
  }
}

.features {
  margin: 3.75rem 0;
}

.features__content {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 1000px) {
  .features__content {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 350px;
        grid-template-rows: 350px;
  }
}

.features__text-area {
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .features__text-area {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
}

.features__text-area h2 {
  margin-bottom: 1.5625rem;
}

.features__img-area {
  margin: 4.1875rem auto;
  max-width: 700px;
}

@media screen and (min-width: 1000px) {
  .features__img-area {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    position: relative;
  }
}

.features__img-area img {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .features__img-area img {
    width: 840px;
    position: absolute;
    left: -655px;
    top: -120px;
  }
}

.features__features-list {
  text-align: center;
  list-style: none;
}

@media screen and (min-width: 1000px) {
  .features__features-list {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
    text-align: left;
  }
}

.features__features-list .feature + .feature {
  margin-top: 3.75rem;
}

.clipboard__content {
  margin-top: 8.75rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 3.5625rem;
  -webkit-transition: margin-top 0.3s ease;
  transition: margin-top 0.3s ease;
}

@media screen and (min-width: 1000px) {
  .clipboard__content {
    margin-top: 22.5rem;
  }
}

.clipboard__text-area {
  text-align: center;
}

.clipboard__text-area h2 {
  margin-bottom: 1.1875rem;
}

.clipboard__img-area img {
  width: 100%;
}

.other-features__content {
  margin-top: 100px;
  gap: 5rem;
}

.other-features__text-area {
  text-align: center;
}

.other-features__text-area h2 {
  margin-bottom: 0.9375rem;
}

.other-features__features-list {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

@media screen and (min-width: 1000px) {
  .other-features__features-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.other-features__features-list .feature + .feature {
  margin-top: 3.4375rem;
}

@media screen and (min-width: 1000px) {
  .other-features__features-list .feature + .feature {
    margin-top: 0;
  }
}

@media screen and (min-width: 1000px) {
  .other-features__features-list .feature {
    margin: 0 0.625rem;
  }
}

.other-features__features-list .feature img {
  margin-bottom: 2.8125rem;
}

@media screen and (min-width: 1000px) {
  .other-features__features-list .feature img {
    height: 40px;
  }
}

.other-features__features-list .feature h3 {
  margin-bottom: 0.875rem;
}

.sponsors__content {
  margin: 8.4375rem 0;
}

@media screen and (min-width: 1000px) {
  .sponsors__content {
    margin: 10.3125rem 0;
  }
}

.sponsors__companies {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 500px) {
  .sponsors__companies {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 700px) {
  .sponsors__companies {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .sponsors__companies {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.sponsors__companies img {
  margin: auto;
  width: 150px;
  -webkit-transition: grid-column 0.3s ease;
  transition: grid-column 0.3s ease;
  transition: grid-column 0.3s ease, -ms-grid-column 0.3s ease;
}

@media screen and (min-width: 500px) {
  .sponsors__companies img:nth-child(2) {
    margin: auto;
  }
  .sponsors__companies img:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 700px) {
  .sponsors__companies img:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 /3;
  }
  .sponsors__companies img:nth-child(2) {
    margin: auto;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 /5;
  }
  .sponsors__companies img:nth-child(3) {
    margin: auto;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 /7;
  }
  .sponsors__companies img:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .sponsors__companies img:nth-child(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 /6;
  }
}

@media screen and (min-width: 1100px) {
  .sponsors__companies img:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 /2;
  }
  .sponsors__companies img:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 /3;
  }
  .sponsors__companies img:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 /4;
  }
  .sponsors__companies img:nth-child(4) {
    margin: auto;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 /5;
  }
  .sponsors__companies img:nth-child(5) {
    margin: auto;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 /6;
  }
}

.sponsors__companies img + img {
  margin-top: 4.375rem;
}

.download__content {
  place-content: center;
  margin-bottom: 6.25rem;
}

.download__text-area {
  text-align: center;
  margin-bottom: 3.125rem;
}

.download__text-area h1 {
  margin-bottom: 1.75rem;
}

.download__btn-area {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 730px) {
  .download__btn-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.download__btn-area .btn {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

@media screen and (min-width: 730px) {
  .download__btn-area .btn {
    width: 33%;
    margin: 0;
  }
  .download__btn-area .btn:first-child {
    margin-right: 1.25rem;
  }
}

.download__btn-area .btn + .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 730px) {
  .download__btn-area .btn + .btn {
    margin: 0;
  }
}
/*# sourceMappingURL=index.css.map */