.footer {
  background: #f5f6f8;

  &__content {
    padding: rem(50);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1000px) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__logo {
    margin-bottom: rem(50);

    @media screen and (min-width: 1000px) {
      margin: 0 40px 0;
    }

    img {
      width: rem(50);

      @media screen and (min-width: 1000px) {
        width: rem(55);
      }
    }
  }

  &__links {
    text-align: center;
    flex-direction: column;

    @media screen and (min-width: 1000px) {
      flex-direction: row;
      text-align: left;
    }

    .group {
      flex-direction: column;

      @media screen and (min-width: 1000px) {
        margin: 0 rem(30);
      }

      a {
        color: $DarkGrayishBlue;
        opacity: 0.9;
        text-decoration: none;
        font-weight: 600;
        font-size: clamp(rem(18), 5vw, rem(22));
        margin-bottom: rem(37);
        transition: color 0.2s ease;

        &:hover {
          color: $StrongCyan;
        }

        @media screen and (min-width: 1000px) {
          margin: 0;
          font-weight: 400;
          font-size: clamp(rem(16), 1.4vw, rem(18));
        }
      }

      a + a {
        @media screen and (min-width: 1000px) {
          margin-top: rem(20);
        }
      }
    }
  }

  &__icons {
    margin-top: rem(20);

    @media screen and (min-width: 1000px) {
      margin: 0 0 0 auto;
    }

    img {
      cursor: pointer;
      margin: 0 rem(15);
      transition: filter 0.2s ease;

      &:hover {
        filter: invert(62%) sepia(24%) saturate(1112%) hue-rotate(122deg) brightness(93%) contrast(95%);
      }
    }
  }
}
