//TITLES
.primary-title {
  font-size: rem(34);
  color: $DarkGrayishBlue;
  transition: font-size 0.3s ease;

  @media screen and (min-width: 730px) {
    font-size: clamp(rem(38), 5vw, rem(45));
  }
}

.secondary-title {
  font-size: rem(27);
  color: $DarkGrayishBlue;
  transition: font-size 0.3s ease;

  @media screen and (min-width: 730px) {
    font-size: clamp(rem(33), 5vw, rem(38));
  }
}

.tertiary-title {
  font-size: rem(22);
  color: $DarkGrayishBlue;
  transition: font-size 0.3s ease;

  @media screen and (min-width: 730px) {
    font-size: rem(27);
  }
}

//PARAGRAPHS
.primary-paragraph {
  font-size: rem(18);
  line-height: 1.5;
  color: $GrayishBlue;
  transition: font-size 0.3s ease;
  margin: auto;

  @media screen and (min-width: 730px) {
    font-size: clamp(rem(19), 5vw, rem(22));
    max-width: 45ch;
  }
}

.secondary-paragraph {
  font-size: rem(18);
  line-height: 1.5;
  color: $GrayishBlue;
  transition: font-size 0.3s ease;
  margin: auto;

  @media screen and (min-width: 730px) {
    max-width: 45ch;
  }
}
